* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.body-content {
    height: calc(100vh - 4.25rem);
}

.wrapper {
    margin: auto;
    max-width: 40rem;
    text-align: center;
    width: 100%;
}

.footer--main {
    background-color: lightgray;
    float: left;
    width: 100%;
}

.header__list,
.footer__list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
}

.header__list li,
.footer__list li {
    display: inline-block;
    padding: 0 0.5rem;
}

.business-list {
    float: left;
}

.legalese-list {
    float: right;
}